<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Registration</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div th:if="${param.success}">
                    <div class="alert alert-success">You've successfully registered
                        to our awesome app!
                    </div>
                </div>
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                <form th:action="@{/registration}" th:object="${userDto}" method="post">
                                    <form class="mx-1 mx-md-4">
                                        <p class="text-danger" th:if="${#fields.hasGlobalErrors()}"
                                           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                                            error</p>
                                        <div class="form-group"
                                             th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                                            <label for="lastName" class="control-label">Username</label> <input
                                                id="lastName" class="form-control" th:field="*{name}"/>
                                            <p class="text-danger"
                                               th:each="error : ${#fields.errors('name')}"
                                               th:text="${error}">Validation error</p>
                                        </div>

                                        <div class="form-group"
                                             th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                            <label for="email" class="control-label">Your Email</label> <input
                                                id="email" class="form-control" th:field="*{email}"/>
                                            <p class="text-danger"
                                               th:each="error : ${#fields.errors('email')}" th:text="${error}">
                                                Validation
                                                error</p>
                                        </div>

                                        <div class="form-group"
                                             th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                            <label for="password" class="control-label">Password</label> <input
                                                id="password" class="form-control" type="password"
                                                th:field="*{password}"/>
                                            <p class="text-danger"
                                               th:each="error : ${#fields.errors('password')}"
                                               th:text="${error}">Validation error</p>
                                        </div>

                                        <div class="form-group"
                                             th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                            <label for="confirmPassword" class="control-label">Confirm
                                                password</label> <input id="confirmPassword" class="form-control"
                                                                        type="password" th:field="*{confirmPassword}"/>
                                            <p class="text-danger"
                                               th:each="error : ${#fields.errors('confirmPassword')}"
                                               th:text="${error}">Validation error</p>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                        &nbsp; &nbsp; &nbsp;  Already registered? <a href="/" th:href="@{/login}">Login
                                        here</a>

                                    </form>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img th:src="@{/registrationImage.jpg}"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>